version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: patitas_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: patitas_felices
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - patitas_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: patitas_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - patitas_network

volumes:
  mysql_data:

networks:
  patitas_network:
